{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function() {
var MaxInputs    = 8; //maximum input boxes allowed
var InputsWrapper  = $("InputsWrapper"); //Input boxes wrapper ID
var AddButton    = $("AddMoreFileBox"); //Add button ID
var x = InputsWrapper.length; //initlal text box count
var FieldCount=1; //to keep track of text box added
$(AddButton).click(function (e) //on add input button click
{
    if(x <= MaxInputs) //max input box allowed
    {
      FieldCount++; //text box added increment
      //add input box
      $(InputsWrapper).append('<div><input type="text" name="mytext[]" id="field_'+ FieldCount +'" value="Text '+ FieldCount +'"/><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" class="removeclass"><input type="button" value="x"></a></div>');
      x++; //text box increment
    }
return fa<F5><F5>lse;
});
$("body").on("click",".removeclass", function(e){ //user click on remove text
    if( x > 1 ) {
        $(this).parent('div').remove(); //remove text box
        x--; //decrement textbox
    }
return false;
})
});
</script>





<a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" id="AddMoreFileBox" class="btn btn-info"> + </a></span></p>
<div id="InputsWrapper">
<div><input type="text" name="mytext[]" id="field_1" value="Text 1"/><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" class="removeclass"><input type='button' value='x'></a></div>
</div>
<form action="{{url_for('adminBlogAdd')}}" method="post" class="form-horizontal" role="form">

  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">title</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="title" id="title" placeholder="Your blog title here">
    </div>
  </div>

  <div class="form-group">
    <label for="addr" class="col-sm-2 control-label">Jump href</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="addr" id="addr" placeholder="Your Jump href here">
    </div>
  </div>
  
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">Owner</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="author" id="author" placeholder="Your name here">
    </div>
  </div>

  <div class="form-group">
    <label for="context" class="col-sm-2 control-label">Contents</label>
    <div class="col-sm-5">
      <textarea class="form-control" rows="9" name="context" id="context" placeholder="Please use markdown"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

{% endblock %}
